html, body{
    width:100%;
    padding: 0;
    margin: 0;
    font-family: l, serif;
    --line-height: 19px;
}

body{
    font-weight: 400;
    font-size: 16px;
    line-height: var(--line-height);
    background-color: rgb(28,27,27);
    color: rgb(255,255,255);
}

* {
    font-variant-ligatures: none;
}

p {
    margin: 0;
    padding: 0;

}

hr {
    display: block;
    height: var(--line-height);
    margin: 0;
    padding: 0;
    /*background-color: red;*/
    border: none;
}

a {
    color: white; /* Makes all links white */
    text-decoration: none; /* Optional: Removes the underline */
}

a:hover {
    color: #ddd; /* Slightly lighter white for hover effect */
    text-decoration: underline; /* Optional: Adds underline on hover */
}



main{
    left: 1ch;
    margin-right: 1ch;
    max-width: 42ch;
    padding-bottom: calc(1 * var(--line-height));
    top: calc(1 * var(--line-height));
    box-decoration-break: slice;
    padding-bottom: calc(4 * var(--line-height));

}

/* larger */
@media only screen and (min-width: 400px){
    main{
        left: 2ch;
        margin-right: 2ch;
    }
}

/* large */
@media only screen and (min-width: 800px){
    main{
        left: 4ch;
        margin-right: 4ch;
    }
}

main,
output{
    position: absolute;
    display: block;
}

output{
    left:0;
    right:0;
    top:0;
    pointer-events: none;
    white-space: pre;
    overflow-x: hidden;
}

output span{
    display: block;
}

.disable-scroll{
    bottom:0;
    overflow-y: hidden;
    position: fixed;
}


.disable-touch-select{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.hidden{
    display: none;

}

.invisible {
    color: transparent

}


 @font-face {
     font-family: "l";
     src: url("fonts/lineto-simple-light.html");
     src: url("fonts/lineto-simple-lightd41d.html?#iefix") format("embedded-opentype"),
          url("fonts/lineto-simple-light-2.html") format("woff2"),
          url("fonts/lineto-simple-light-3.html") format("woff");
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: "r";
     src: url("fonts/lineto-simple-regular.html");
     src: url("fonts/lineto-simple-regulard41d.html?#iefix") format("embedded-opentype"),
          url("fonts/lineto-simple-regular-2.html") format("woff2"),
          url("fonts/lineto-simple-regular-3.html") format("woff");
     font-weight: normal;
     font-style: normal;
 }






